body{

}

.jumbotron{
	background-color: grey;
    color:white;
}

.btn-group {
	background-color: white;
    border: 2px solid black;
    color: grey;
    padding: 6px 10px;
    text-align: center;
    text-decoration: blink;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    top: 0;
    right:0;
}

.btn{
	color: black;
}