/*noinspection SpellCheckingInspection*/
.jumbotron{
	background-color: grey;
  color:white;
  height:90%;
  margin-bottom: 1%;
}

.btn-block {
  margin-bottom: 20px;
}

/*noinspection SpellCheckingInspection*/
#loginbuttons {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/*noinspection SpellCheckingInspection*/
#menubutton1 {
    color: white;
}

.login-form {
  margin-bottom: 20px;
}

.main-content {
  margin-top: 1%;
  height: 90%;
}

.card {
  min-height: 80%;
}

.card-block {
  margin:1%;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.carousel-inner {
     margin-bottom: 20px;
}