body{
font-family: "Menlo", "Monaco", "Consolas","Liberation Mono","Courier New", "monospace";
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    background-color: #17a2b8;
    color: white;
}

.orderNumbers {
    list-style-type: none;
}

.orderNumber li {
    width: 100%;
}