#sidebar {
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    background-color: #17a2b8;
    color: white;
}

/* Remove any padding or margin to remove gap between the sidebar and the side.*/
.container-fluid{
  padding: 0;
  margin: 0;
}

.sideHeader{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.order-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.order-list li {
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    text-shadow: 2px 2px 1px black;
    margin-top: 7px;
    box-shadow: 1px 1px 1px 1px grey;
}

/*Colour coded list elements according to priority.*/

.red {
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.yellow {
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green {
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

