.contents {
  padding-left: 50px;
  padding-right: 50px;
}

.close {
  float: right;
}

.bold {
  font-weight: bold;
.off {
  background-color: #28A745;
}

.right{
  float: right;
.toggle {
  margin-bottom: 10px;
}
