.column {
  margin-left: 5%;
  margin-right: 5%;
}

.basket {
  margin-left: 5%;
  margin-right: 5%;
}

.category {
  margin-bottom: 10px;
}

.menuitems {
  margin-top: 10px;
}

.menuitem {
  text-align: center;
}

.bold {
  font-weight: bold;
  color: black;
}

.span-right {
  float: right;
}

.remove {
  margin-left: 10px;
  color: red;
}

.edit {
  margin-right: 10px;
  color: orange;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 10%;
  width: 100%;
  height: 100%;
}

.modal-content {
  padding: 20px;
}

#picture {
  float: right;
  max-height: 80%;
  max-width: 80%;
}

.span-faint {
  color: grey;
  margin-bottom: 50px;
}

.information {
  padding-left: 10%;
}

#instructions {
  margin-top: 5px;
  margin-bottom: 10px;
}
