.column {
  margin-left: 5%;
  margin-right: 5%;
}

.basket {
  margin-left: 5%;
  margin-right: 5%;
}

.category {
  margin-bottom: 10px;
}

.menuitems {
  margin-top: 10px;
}

.menuitem {
  text-align: center;
}

.span-bold {
  font-weight: bold;
}

.span-price {
  float: right;
}
