/*waiter.html Tables column*/
.span-bold {
  font-weight: bold;
}

/* Adapted from
  https://stackoverflow.com/questions/24166568/set-bootstrap-modal-body-height-by-percentage
   https://stackoverflow.com/questions/42896820/bootstrap-4-modal-width-increase*/
.menu-lg {
  max-width: 80% !important;
}
.menu-dialog {
  height: 100%;
}
.menu-content {
  height: 95%;
}
