/*waiter.html Tables column*/
.span-bold {
  font-weight: bold;
}

/* Adapted from
  https://stackoverflow.com/questions/24166568/set-bootstrap-modal-body-height-by-percentage
   https://stackoverflow.com/questions/42896820/bootstrap-4-modal-width-increase*/
.menu-lg {
  max-width: 80% !important;
}
.menu-dialog {
  height: 100%;
}
.menu-content {
  height: 95%;
}

ul {
  padding: 0;
}

/* Adapted from
https://stackoverflow.com/questions/14750078/style-disabled-button-with-css
 */
button:disabled,
button[disabled] {
  background-color: #535353;
}

.btn-confirm {
  color: white;
  background-color: #00c200;
}
.btn-deliver {
  color: white;
  background-color: mediumpurple;
}
.btn-edit {
  color: white;
  background-color: #17a2b8;
}
.btn-cancel {
  color: white;
  background-color: red;
}

.btn-helped {
  color: white;
  background-color: red;
  float: right;
  margin-right: 5px;
}

.btn-cleaned {
  color: white;
  background-color: mediumorchid;
  float: right;
  margin-right: 5px;
}

.btn-filled {
  color: white;
  background-color: darkorange;
  float: right;
  margin-right: 5px;
}

.lst-table {
  margin-bottom: 5%;
}

.table-icon {
  margin-top: 7px
}

